.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u4841-4,#u4793-4
{
	font-family: karla-n4, sans-serif;
}

#u4807-4
{
	font-family: karla-n4, sans-serif;
}

#u4801-4
{
	font-family: karla-n4, sans-serif;
}

#u4814-4
{
	font-family: karla-n4, sans-serif;
}

#u4822-4
{
	font-family: karla-n4, sans-serif;
}

#u4827-4
{
	font-family: karla-n4, sans-serif;
}

#u4787-4
{
	font-family: karla-n4, sans-serif;
}

#u2566-4
{
	font-family: muli-n3, sans-serif;
}

#u4831-5,#u2565-4,#u2604-4,#u2607-4,#u2609-4,#u2613-5,#u2620-4,#u2622-4
{
	font-family: playfair-display-n4, serif;
}

#u2591-4
{
	font-family: open-sans-i4, sans-serif;
}

#u4832-4,#u4833-4,#u4834-4,#u2590-4,#u2598-4
{
	font-family: open-sans-n3, sans-serif;
}

#u2623-4,#u2204-4
{
	font-family: open-sans-i3, sans-serif;
}

