.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u4957-3
{
	font-family: abril-fatface-n4, serif;
}

#u4954-4,#u5000-4
{
	font-family: karla-n4, sans-serif;
}

#u4971-4
{
	font-family: karla-n4, sans-serif;
}

#u5004-4
{
	font-family: karla-n4, sans-serif;
}

#u4992-4
{
	font-family: karla-n4, sans-serif;
}

#u4978-4
{
	font-family: karla-n4, sans-serif;
}

#u4965-4
{
	font-family: karla-n4, sans-serif;
}

#u4985-4
{
	font-family: karla-n4, sans-serif;
}

#u4953-5,#u4618-4
{
	font-family: playfair-display-n4, serif;
}

#u4619-4
{
	font-family: muli-n3, sans-serif;
}

#u4626-4
{
	font-family: open-sans-i4, sans-serif;
}

#u5010-4,#u5011-4,#u4624-4,#u4625-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4264-4
{
	font-family: open-sans-i3, sans-serif;
}

